/* Component Thumbnails */
.autor {
  padding: 1rem 0;
  &__thumbnails {
    img {
      width: 140px;
      height: 140px;
      border-radius: 100px;
    }
  }
  &__name {
    font-family: $playfair;
    font-weight: $playfair-black;
    font-size: $playfair-x-large;
    font-style: italic;
    padding-top: 2rem;
  }
  &__rrss,
  &__web {
    color: $primary;
    font-weight: $roboto-light;
    font-size: $roboto-medium;
    text-decoration: none;
  }
}
