/* Layout Article */
.article {
  padding: 4rem 0;
  &__date {
    font-family: $playfair;
    font-weight: $playfair-regular;
    font-size: $playfair-medium;
    padding-bottom: 2rem;
  }
  &__text {
    font-family: $roboto;
    font-size: $roboto-medium;
    font-weight: $roboto-light;
    line-height: 40px;
    padding-bottom: 2rem;
  }
}

.saltos-linea {
  padding: 2rem 0;
}

.buttons {
  padding: 4rem 0;
}
